label {
  display: block;
  margin: 5px 0;
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.center{
	margin: auto;
	width: 50%;
	border: 3px solid grey;
	padding: 10px;
	text-align: center;

}
body{
	background-color: green;
}